#vidi_symbols {
  font-size: 10px !important;
}
.nav-pills {
  margin-bottom: 0 !important;
}
.leaflet-top {
  top: 0 !important;
}
.leaflet-control-locate, .history-control, .history-control, .leaflet-clear-map, .leaflet-control-measurements {
  display: none !important;
}
