.form-label {
    margin-bottom: .1rem;
    font-size: .8rem;
    color: #717171;
}

#offcanvas-fkgupload-start .nav  {
    display:none !important
}
.row:has(#root_statuskode), .row:has(#root_oprindkode), .row:has(#root_beliggenhedskommune), .row:has(#root_cvr_kode) {
    display: none
}
