.marker-cluster-small {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster-small div {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster-medium {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster-medium div {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster-large {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster-large div {
  background-color: rgba(0, 37, 85, 0.6) !important;
}

.marker-cluster {
  color: white !important;
}

.marker-cluster div {
  color: white !important;
}

.marker-cluster span {
  color: white !important;
}

.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
